body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #36393E;
  color: rgb(245, 245, 245); 
}

.noSelect {
  outline: none !important; 

  &:focus {
    box-shadow: none;
  }
}


.left-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.channels {
  flex: 1 1 auto;
  background-color: #2E3136;
  color: white;
  min-width: 300px;
  padding: 20px;
  overflow: auto;

  .channel-label-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    .channel-label {
      font-size: 18px;
      font-weight: bold;
    }
  }
  .channel-container {
    margin-bottom: 5px;

    &:focus {
      background-color:red;
    }
  }

  .channel-link {
    color: rgb(245, 245, 245);
    font-size: 16px;


  }
}

.logout {
  flex: 0 0 56px;
  background-color: #2E3136;

  .logout-button {
    padding: 5px 15px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    border: solid 1px rgba(255,255,255,0.2);
    background-color: #212326;
    color: rgb(245, 245, 245);
    font-weight: bold;
  }
}

.right-container {
  height: calc(100vh - 56px);
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #36393E;

  .channel-title {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
  }

  .message-list {
    border-top: solid 1px rgba(0,0,0,0.07);
    height: 100%;
    overflow: auto;

    .date-divider {
      color: rgba(255,255,255,0.2);
      padding-bottom: 2px;
      margin: 10px;
      border-bottom: solid 1px rgba(255,255,255,0.2);
    }
  }

  .message-form {
    flex: 0 0 70px;
    display: flex;
    padding: 10px 0px;
  
    .message-form-input {
      padding: 10px;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      border: none;
      background-color: #494A53;
      color: rgb(245, 245, 245);
    }
  
    .message-form-button {
      padding: 10px 17px;
      margin-left: 10px;
      border-radius: 10px;
      box-shadow: 0 1px 2px rgba(0,0,0,0.07);
      border: none;
      background-color: #D23333;
      color: white;
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.name-divider {
  font-size: 16px;
  margin-bottom: 5px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.message-container {
  margin-bottom: 5px;
  padding: 0px 10px;
  display: flex;
  align-items: flex-end;

  .message-content {
    margin-right: 10px;

  }

  .message-timestamp{
    color: grey;
    font-size: 11px;
    min-width: 70px;
  }
} 

@media only screen and (min-width: 800px) {
  .open-channel-button {
      display: none;
  }
}

.open-channel-button {
  color: rgb(245, 245, 245);
}



.channel-form {
  .create-channel-title {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .channel-form-input {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #494A53;
    color: rgb(245, 245, 245);
    margin-bottom: 30px;
  }

  .channel-form-buttons-container {
    display: flex;
    justify-content: flex-end;

    .channel-form-cancel {
      padding: 5px 15px;
      margin-left: 10px;
      border-radius: 5px;
      box-shadow: 0 1px 2px rgba(0,0,0,0.07);
      border: solid 1px rgba(255,255,255,0.2);
      background-color: #212326;
      color: rgb(245, 245, 245);
      font-weight: bold;
    }
  
    .channel-form-button {
      padding: 5px 15px;
      margin-left: 10px;
      border-radius: 5px;
      box-shadow: 0 1px 2px rgba(0,0,0,0.07);
      border: none;
      background-color: #D23333;
      color: rgb(245, 245, 245);
      font-weight: bold;
    }
  }
}